h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section {
  margin: 0;
  padding: 0 80px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}
/* main styles */

.project-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
  width: 400px;
}
/* main-content */

.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  /* padding: 105px, 85px; */
}

/* about styles */

.about {
  padding-top: 30px;
}

.about-position {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
}

.about-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
  /* width: 400px; */
}

/* project styles */
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.projects-list {
  padding: 0;
  margin-left: 15px;
}

.project-item {
  margin-bottom: 20px;
}

.project-link {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  color: #595959;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: underline;
  margin-bottom: 5px;
}

.project-link::before {
  content: '';
  /* display: block; */
  /* background-image: url('../image/img/star.jpg'); */
  background-color: #fb6d3a;
  border-radius: 50%;
  /* background-size: contain;
  background-position: center; */
  width: 8px;
  height: 8px;
  margin-right: 7px;
}

.project-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 22px;
}

/* work styles */
.work {
  /* margin-left: 90px; */
  /* margin-bottom: 45px; */
  padding-bottom: 50px;
}

.title.work-experience-title {
  margin-bottom: 20px;
}

.work-wrapper {
  margin-bottom: 30px;
}

.work-position {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
}

.work-list-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.work-list-title.achievements {
  margin-top: 30px;
}

.work-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #595959;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.work-list-item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fb6d3a;
}

/* education styles */
.education {
  margin: 0 auto;
  padding-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #000000;
  margin-bottom: 10px;
}

.high-scholl {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 10px;
}

.Spaciality {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 10px;
}
.data {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #a8a8a8;
}

.add-education {
  padding-bottom: 50px;
}
/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  color: #ffffff;
  width: 370px;
}
.sidebar-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 15px;
}
.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  /* text-decoration: underline; */
}

.contact-link__underline {
  text-decoration: underline;
}

.icon-phone {
  width: 10px;
  height: 16px;
  fill: #ffffff;
  order: -1;
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: #ffffff;
  order: -1;
}

.icon-githab {
  width: 12px;
  height: 12px;
  fill: #ffffff;
  order: -1;
}

/* .contact-link.location {
  margin-top: 25px;
} */

.photo {
  width: 370px;
  margin-bottom: 50px;
}
.contacts {
  margin-bottom: 50px;
}
.tech-skills {
  margin-bottom: 50px;
}
.tech-skills-list {
  color: white;
  padding: 0;
  margin-left: 15px;
}
.tech-skills-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tech-skills-item::before,
.soft-skills-item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fb6d3a;
}

.tech-skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.soft-skills {
  margin-bottom: 50px;
}
.soft-skills-list {
  color: white;
  padding: 0;
  margin-left: 15px;
}
.soft-skills-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
